
@{
    ViewBag.Title = "Index";
}

<div class="col-md-8 my-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa fa-question"></i>
            Başlık
        </div>
        <div class="card-body">
            <p class="card-text text-justify">
                İçerik
            </p>
            <a href="#" class="btn btn-primary">
                devamını oku <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-calendar"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-calendar-check-o"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-user"></i> Mustafa DAĞTEKİN&nbsp;&nbsp;&nbsp;
            <i class="fa fa-list"></i> Html
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa fa-question"></i>
            Başlık
        </div>
        <div class="card-body">
            <p class="card-text text-justify">
                İçerik
            </p>
            <a href="#" class="btn btn-primary">
                devamını oku <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-calendar"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-calendar-check-o"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-user"></i> Mustafa DAĞTEKİN&nbsp;&nbsp;&nbsp;
            <i class="fa fa-list"></i> Html
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa fa-question"></i>
            Başlık
        </div>
        <div class="card-body">
            <p class="card-text text-justify">
                İçerik
            </p>
            <a href="#" class="btn btn-primary">
                devamını oku <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="card-footer text-muted">
            <i class="fa fa-calendar"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-calendar-check-o"></i> 01.01.2018 15:50&nbsp;&nbsp;&nbsp;
            <i class="fa fa-user"></i> Mustafa DAĞTEKİN&nbsp;&nbsp;&nbsp;
            <i class="fa fa-list"></i> Html
        </div>
    </div>

</div>

